.big-img-view {
    position: relative;
    width: 100%;
}

.big-img-view img {
    width: 100%;
    z-index: -1;

}

.view-info {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    color: black;
    text-align: center;
}

.view-info h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 0px;
}

.view-info p {
    font-size: 28px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
}

.view-options {
    display: flex;
    justify-content: center;
}

.view-options a {
    color: #0266CC;
    cursor: pointer;
    margin: auto 10px;
    font-size: 20px;
    font-weight: 400;
}

.view-options span {
    margin-right: 25px;
    color: #0266CC;
}

.view-options a:hover {
    text-decoration: underline;
}

.med-container {
    width: 100%;
    margin: 10px;

    display: flex;
    justify-content: center;
    
}

.med-img-view {
    position: relative;
    margin-right: 20px;
    width: 100%;
}

.med-info {
    position: absolute;

    width: 100%;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.med-info h1 {
    font-size: 43px;
    font-weight: 600;
    line-height: 20px;
}

.med-info p {
    font-size: 22px;
    line-height: 0px;
}

.med-info a { color: #0266CC; text-decoration: none; cursor: pointer; }
.med-info a:hover { text-decoration: underline; }

.med-info span {
    margin-right: 25px;
    color: #0266CC;
}

.med-info span:last-child {
    margin-right: 0px;
}

.med-img-view img {
    width: 100%;
}

